.center-main{
  height: 80vh;
  cursor: pointer;
}
.center-main .contents, .fav-card .contents{
  background-image: linear-gradient(to top, #000000, #00000000);
}
.center-main:hover .contents{
  background-image: linear-gradient(to top, #00000000, #00000000);
}
.center-main:hover p{
  height: 0 !important;
  overflow: hidden;
}
.fav-card{
  height: 40vh;
  cursor: pointer;
}
.pop{
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
  width: clamp(300px, 50vw, 500px);
  z-index: 5;
}

.pop.show{
  top: 50px;
  box-shadow: 0 0 30px 10000px #000000aa;
}
.app-modal .backdrop{
  cursor: not-allowed;
}
.app-modal.hide{
  top: 110vh;
}
.app-modal .image-main{
  height: 95vh;
  width: 95vw;
}